<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--
	Identity by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Modify Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main2.css" th:href="@{../assets/css/main2.css}" />
		<style>
			input {
				text-transform: none;
			}
			.field-error {
				border-color: #dc3545;
				color: #dc3545;
			}
			.userError {
				position: relative; left: 3%; height: 14px;
			}
		</style>
	</head>
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="../images/gallery/pic14.jpg" alt="" />
							<a href="photoModify.html">사진수정</a></span><br>
						</header>

						<form method="post" action="#" th:object="${user}">
							<div class="fields">

								<div class="field">
									<span style="float: left">-modify NICKNAME</span>
									<input type="text" name="name" id="name" th:placeholder="*{userId}" />
								</div>
								<div class="field">
									<span style="float: left">-modify PASSWORD</span>
									<input type="password" name="password" id="password" placeholder="PASSWORD" />
								</div>
								<div class="field">
									<input type="password" name="password2" id="password2" placeholder="PASSWORD CHECK" />
								</div>
								<div class="field">
									<span style="float: left">-modify INTRODUCE</span>
									<input type="text" name="introduce" id="introduce" placeholder="introduce" />
								</div>
								<div class="field">
									<span style="float: left">-modify email</span>
									<input type="email" name="email" id="email" placeholder="email" />
								</div>
								<div class="field">
									<span style="float: left">-modify phonenumber</span>
									<input type="text" name="phoneNumber" id="phoneNumber" placeholder="phoneNumber" />
								</div>

							</div>
							<br>
							<ul class="actions special">

								<li><input type="submit" value="변경"></li>
							</ul>

						</form>

						<footer>


						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
					</footer>

			</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>